In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [35]:
df = pd.read_csv('data/oracle.csv')
df

    oracle  size    pin   runtime   usertime     energy
0     True   500   True  0.046985   0.730279   2.073741
1    False   500   True  0.052102   0.706600   2.142631
2     True   500  False  0.047439   0.736613   2.093731
3    False   500  False  0.050074   0.647762   2.143265
4     True   750   True  0.154198   2.423268   6.913151
5    False   750   True  0.170559   2.330875   7.140388
6     True   750  False  0.154026   2.419749   6.900544
7    False   750  False  0.162620   2.286621   7.207018
8     True  1000   True  0.408228   6.426851  18.079419
9    False  1000   True  0.454015   6.203865  18.741610
10    True  1000  False  0.419945   5.789795  18.392471
11   False  1000  False  0.415673   5.898498  18.265527
12    True  1250   True  0.935773  10.870219  39.491342
13   False  1250   True  1.068162  12.315708  41.585661
14    True  1250  False  0.879564   6.963742  37.466410
15   False  1250  False  1.029031   7.957601  39.671126
16    True  1500   True  1.934101  21.936963  77.220391
17   False  1500   True  2.285176  25.977117  83.993204
18    True  1500  False  1.632208  12.968408  69.155112
19   False  1500  False  1.966753  15.524747  73.951307

In [36]:
total = df[df['oracle'] == False].copy()
total.reset_index(drop=True, inplace=True)

oracle_total = df[df['oracle'] == True]
oracle_total.reset_index(drop=True, inplace=True)

total['energy'] /= oracle_total['energy']
total['runtime'] /= oracle_total['runtime']
total['usertime'] /= oracle_total['usertime']
total

   oracle  size    pin   runtime  usertime    energy
0   False   500   True  1.108911  0.967576  1.033220
1   False   500  False  1.055552  0.879380  1.023658
2   False   750   True  1.106103  0.961872  1.032870
3   False   750  False  1.055799  0.944983  1.044413
4   False  1000   True  1.112161  0.965304  1.036627
5   False  1000  False  0.989828  1.018775  0.993098
6   False  1250   True  1.141476  1.132977  1.053032
7   False  1250  False  1.169933  1.142719  1.058845
8   False  1500   True  1.181518  1.184171  1.087708
9   False  1500  False  1.204965  1.197121  1.069354

In [37]:
print('Energy avg speedup:', total['energy'].sum() / len(total))
print('Runtime avg speedup:', total['runtime'].sum() / len(total))
print('Usertime avg speedup:', total['usertime'].sum() / len(total))

Energy avg speedup: 1.0432825716670202
Runtime avg speedup: 1.112624492111902
Usertime avg speedup: 1.039487699251943